<!{{ card | json }}>
<div class="row ml-0 mr-0 md-5">
  <img class="img-fluid w-100" [src]="card.img">
</div>
<div class="container md-5">
  <h1 class="display-4 text-center mb-5">{{ card.title }}</h1>
  <div class="row">
    <div class="col-md-4">
      <p class="lead">{{ card.description.short }}</p>
    </div>
    <div class="col-md-8">
      <p>{{ card.description.full }}</p>
    </div>
  </div>
</div>