<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">My Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/memo">สมุดบันทึก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/memo2">สมุดบันทึก2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-me">ข้อมูลนักพัฒนา</a>
        </li>
      </ul>
    </div>
  </div>
</nav>